<ul class="partials__shareLinks">
    <li class="partials__shareLinks__item">
        <a href="http://x.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank" title="X(Twitter)" class="partials__shareLinks__itemLink--twitter">
            <i class="fab fa-x-twitter"></i>X
        </a>
    </li>
    <li class="partials__shareLinks__item">
        <a href="https://line.me/R/msg/text/?{{ .Title }}%0D%0A{{.Permalink }}" target="_blank" title="line" class="partials__shareLinks__itemLink--line">
            <i class="fab fa-line"></i>LINE
        </a>
    </li>
    <li class="partials__shareLinks__item">
        <a href="javascript:void(0)" onclick="navigator.clipboard.writeText('{{ .Permalink }}');alert('URLをコピーしました')" title="line" class="partials__shareLinks__itemLink--copy">
            <i class="far fa-copy"></i>URL
        </a>
    </li>
</ul>
